# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
int1 = 10
int2 = 12

print("int1 is ", int1)
print("int2 is ", int2)

int1 is  10
int2 is  12

##### Assinging float

In [4]:
float1= 5.08
float2 = 10.009

print("float1 is ", float1 )
print("float2 is ", float2)

float1 is  5.08
float2 is  10.009

#### Performing Calculations on ints and floats

##### Addition

In [8]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009
print(float2,"+" , int2, " = " ,float2 + int2)

10.009 + 12  =  22.009

##### Subtraction

In [13]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009
print(float2,"-" , int2, "=" ,float2 - int2)
print(int2,"-" , float2, "=" ,int2 - float2)
print (float1, '-', float2, '=', float1 - float2)
print(int2, '-', int1, '=', int2 - int1)

10.009 - 12 = -1.9909999999999997
12 - 10.009 = 1.9909999999999997
5.08 - 10.009 = -4.929
12 - 10 = 2

##### Multiplication

In [15]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009
print(float2,"*" , int2, "=" ,float2 * int2)
print (float1, '*', float2, '=', float1 * float2)
print(int2, '*', int1, '=', int2 * int1)

10.009 * 12 = 120.108
5.08 * 10.009 = 50.84572
12 * 10 = 120

##### Division

In [7]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009
print(float2,"/" , int2, "=" ,float2 / int2)
print (float1, '/', float2, '=', float1 / float2)
print(int2, '/', int1, '=', int2 / int1)

10.009 / 12 = 0.8340833333333334
5.08 / 10.009 = 0.507543211110001
12 / 10 = 1.2

##### Floor Division

In [8]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009

print(int2, "//", int1, "=", int2//int1)

12 // 10 = 1

##### Modulo

In [12]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009

print(int2, "%", int1, "=", int2%int1)

12 % 10 = 2

##### Exponential

In [18]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009

print(float1,"^2", '=', float1 ** 2)

5.08 ^2 = 25.8064

### String Input-Output

##### String Assignment

In [5]:
string1 = "Hello world"

##### print() <br>
<p>Don't forget about end=' '</p>

In [6]:
#string1 = "Hello world"
print(string1)

Hello world

##### String Concatenation

In [3]:
first_name = "heather"
last_name = "buyu"
full_name = first_name + " " + last_name

print(full_name)

heather buyu

##### Type Conversion

In [11]:
int1 = 10
int2 = 12
float1= 5.08
float2 = 10.009

print(float1, " is of type:", type(float1))
print(int1, " is of type:", type(int1))

5.08  is of type: <class 'float'>
10  is of type: <class 'int'>

##### input()

In [14]:
name = input("What is your name: ")
print("Your name is:", name)

Your name is: Heather Buyu

##### format()

In [24]:
message = "My name is {} and I am {} years old. {} is my favorite number."
print(message.format("Mercy", 30,30))

My name is Mercy and I am 30 years old. 30 is my favorite number.

##### Old Way (python 2)

In [25]:
name ="Mercy"
age = 30
message ="My name is {0} and I am {1} years old. {1} is my favorite number.".format(name, age)

print(message)

My name is Mercy and I am 30 years old. 30 is my favorite number.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [27]:

make = input("What is the make of your car? ")
model = input("What is the model of your car? ")
color = input("What is the color of your car? ")
year = input ("What is the year of your car? ")

car = "Your car is a {} {} {} {}!"
print(car.format(year, color, make, model))

Your car is a 2018 sylver KIA Focus!

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

##### 'in' keyword

In [1]:
my_list = [1, 2, 3, 4, 5]

if 3 in my_list:
    print("3 is in the list")

for item in my_list:
    print(item)

3 is in the list
1
2
3
4
5

##### 'not in' keyword'

In [2]:
my_list = [1, 2, 3, 4, 5]

if 7 not in my_list:
    print("7 is not in the list")

for item in my_list:
    if item !=5:
        print(item)

7 is not in the list
1
2
3
4

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [38]:
user_input = input("Enter a word: ")

if 'p' in user_input:
    print(" 'p' is in the input.")
else: 
    print(" 'p' is not in the input")

 'p' is not in the input

## Using 'and'/'or' with If Statements

In [39]:
x=5
y=10
z=15

if (x<y) and (y<z) or (x==5):
    print("The condition is True!")
else:
    print("The condition is False!")

The condition is True!

### Elif Statements

In [41]:
num = 12

if num > 10:
    print ("number is greater than 10")
elif num < 10:
    print ("number if less than 10")
else:
    print("number is equal to 10")

number is greater than 10

### Else Statements

In [ ]:
# see above

### For Loops

In [42]:
fruits = ["apple", "banana", "cherry", "mango"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
mango

##### Using 'in' keyword

In [ ]:
# see above
fruits = ["apple", "banana", "cherry", "mango"]

for fruit in fruits:
    print(fruit)

##### Continue Statement

In [43]:
# will continue to next iteration
# Print all numbers from 0 to 9 except 5
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [44]:
# will break out of current loop
# Find the first negative number in a list
numbers = [2, 5, -1, 3, -4, 7]

for num in numbers:
    if num < 0:
        print("First negative number found:", num)
        break

First negative number found: -1

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [45]:
x = 10

if x < 5:
    pass
else:
    print("x is greater than or equal to 5")

x is greater than or equal to 5

##### Double For Loops

In [46]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

for color in colors:
    for fruit in fruits:
        print(color, fruit)

red apple
red banana
red cherry
green apple
green banana
green cherry
blue apple
blue banana
blue cherry

### While Loops

In [47]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

##### Looping 'While True'

##### While & For Loops Used Together

In [48]:
# Using a while loop to iterate over numbers from 1 to 3
num = 1
while num <= 3:
    print(f"Multiplication table for {num}:")
    
    # Using a for loop to generate the multiplication table
    for i in range(1, 11):
        result = num * i
        print(f"{num} * {i} = {result}")
    
    # Move to the next number
    num += 1
    print()

Multiplication table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

### Built-In Functions

##### range()

In [49]:
#print odd numbers 1 to 9
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

##### len()

In [50]:
my_list = [10, 20, 30, 40, 50]
for i in range(len(my_list)):
    print("Index:", i, "Value:", my_list[i])

Index: 0 Value: 10
Index: 1 Value: 20
Index: 2 Value: 30
Index: 3 Value: 40
Index: 4 Value: 50

##### help()

In [51]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

##### isinstance()

In [52]:
x = 5
print(isinstance(x, int))  # True
print(isinstance(x, str))  # False

True
False

##### abs()

In [53]:
x = -10
y = 20
print(abs(x - y))

30

### Try and Except

### Lists

##### Declaring Lists

In [54]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

##### Indexing a List

In [57]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

print(colors[0:3])
print(colors[0:4:2])

['red', 'green', 'blue']
['red', 'blue']

##### .append()

In [58]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

fruits.append('banana')
print(fruits)

['apple', 'banana', 'cherry', 'banana']

##### .insert()

In [60]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, 'mango')
print(fruits)

['apple', 'mango', 'banana', 'cherry']

##### .pop()

In [62]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

first_fruit = fruits.pop(0)
print(first_fruit)  
print(fruits)

apple
['banana', 'cherry']


##### .remove()

In [63]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

if 'pear' in fruits:
    fruits.remove('pear')
else:
    print('The element "pear" does not exist in the list.')

The element "pear" does not exist in the list.

##### del()

In [64]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']
del colors[0]
print(colors)

['green', 'blue']

##### Concatenating Two Lists

In [66]:
colors = ['red', 'green', 'blue']
fruits = ['apple', 'banana', 'cherry']

concatenated_list = colors + fruits
print(concatenated_list)

colors.extend(fruits)
print(colors)

['red', 'green', 'blue', 'apple', 'banana', 'cherry']
['red', 'green', 'blue', 'apple', 'banana', 'cherry']

##### Lists Within Lists

In [68]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[0]) 
print(nested_list[0][1])

[1, 2, 3]
2

##### Looping Through Lists

In [69]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for item in nested_list:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [36]:
for i in range(1,100):
    cube = i**3
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [37]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# for num in range(1,101):
#     count = 0
#     for i in range(2, (num//2+1)):
#         if(num % i == 0):
#             count = count + 1
#             break

#     if (count==0 and num !=1):
#         print("%d"%num, end =' ')

def is_prime (n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n%2 == 0 or n%3 == 0:
        return False
    i = 5
    while i*i <= n:
        if n%i == 0 or n%(i+2) ==0:
            return False
        i +=6
    return True

print("Prime numbers up to 100:")
for num in range (2,101):
    if is_prime(num):
        print(num)

Prime numbers up to 100:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [70]:
age_string = input("What is your age? ")
age = int(age_string)

if age < 18:
    print("You are a kid")
elif age <= 65:
    print("You are an adult")
else:
    print("You are a senior")

You are a kid